@import '../../SCSS/App.scss';

#containerHome{
    margin: auto;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 5%;
    div{
        background-color: #E0E0E0;

        
    }
    p{
        font-size: 20px;
        font-family: "Gabriola" !important;
    }

    .Carousel{
        margin-top: 100px;
        margin-bottom: 100px;
    }
} 



  