*{
  padding: 0;
  margin: 0;
  font-family: 'Gabriola';
}
:root{
  //colores de base
  --colorGolden :#BEB06B;
  --colorGray:#47464A;
  --colorSecondWhite:#E0E0E0;
  --colorMyWhite:#F9FAF6;
  --darkFont: #292626;
  --colorSecondGray:#A19C9C;

  //colores para el colorMode de la web
  --fontColor:black;
  --backgroundColor:#A19C9C;

  //color para los bordes del UserZone
  --borderUserZones:black;
}

.App{
  background-color:var(--colorMyWhite);
  height: 100%;
  
}

.content{
  min-height: 80vh;
}


.colorMode{
  background-color:var(--backgroundColor) !important;
}

.fontColor{
  color:var(--fontColor) !important;
}