@import '../../SCSS/App.scss';



.selectLink{
    color:var(--colorGolden) !important;
}

.UserZoneBorder{
    @media (max-width: 991.5px) {
        border: 1.5px solid var(--borderUserZones) !important;
    }  
}


%transition{
    transition: color 0.4s linear 0.2s;
}

#containerNavbar{
    padding-right: 4%;
    padding-left: 4%;
}

nav{
    button{
        box-shadow:none !important;
        border: none !important;
        @extend %transition;
        justify-content: left !important;
        
    }
    a{
        @extend %transition;
    }

}

#title{
    font-size: 22px;
    font-weight: 600;
}